@import url('https://fonts.googleapis.com/css2?family=Solitreo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Solitreo&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(15, 15, 103);
}

header {
    padding-top: 20px;
    font-family: 'Solitreo', cursive;
    font-size: 30px; 
    text-align: center;
    color: rgba(10, 89, 200,255);
}

img {
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}

#menuLateral a {
    display: inline;
    text-decoration: underline;
    color:rgb(255, 251, 251);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 65%;
    justify-content: space-between;
    margin-right: 10px;
}  

#faixa_central {
    border-top-right-radius: 25rem;
    border-bottom-right-radius: 25rem;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;   
    padding-right: 2%;
    padding-left: 5%;
    background-color: rgba(244,186,80,255);
} 

#faixa_central h2 {
    font-family: 'Comfortaa', cursive;  
    font-size: 125%;
    font-weight: bold;
}
 
.card {  
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 40px; 
}

.opcao {    
    padding: .50rem 1.5rem;
    border: 4px solid black;
    border-radius: 2rem;
    background-color: white;
    text-transform: uppercase;
}

.opcao a {
    color: rgb(92, 86, 86);
}

.opcao a:hover {
    color: rgb(92, 86, 86);
    text-decoration: none;
}