<!DOCTYPE html>
<html>
<head>
	<title>Cadastrar dúvida</title>

	<link rel="stylesheet" type="text/css" href="../static/styleCadastrarDuvida.css">
=======
	<link rel="stylesheet" href="../static/styleCadastrarDuvida.css">
	<link rel = "shortcut icon" href = "../static/img/favicon_transparent_32x32.ico">
	<link rel = "shortcut icon" href = "../static/img/remove bg logo.png">

</head>
<body>
	<header>
		<header>
			<h1><img src="../static/img/remove bg logo.png" width="150" height="130"></h1>
			<nav id="menuLateral">
				<a href="{{ url_for('index') }}">Página Inicial</a>
				<a href="{{ url_for('entrar') }}">Entrar</a>
				<a href="{{ url_for('sobre') }}">Sobre</a>
				<a href="{{ url_for('contato') }}">Fale com a gente</a>
			</nav>
		</header>
	</header>
	<main>
		<h2>Formule sua Dúvida</h2>

        <form method="POST" action="{{ url_for('criar_topico') }}" enctype="multipart/form-data">
            <label class="descricao-de-area">Informe o título da pergunta</label>
            <input type="text" name="titulo" id="titulo" placeholder="Título" required class="titulo">
            <br><br>

            <label class="descricao-de-area">Descrição da pergunta</label>
            <!-- <form method="get" action="./template/index.html" enctype="multipart/form-data">-->
            <textarea name="descricao-pergunta" id="descricao-pergunta" placeholder="Exemplo de descrição... #tag1 #tag2"  rows="5" cols="47" maxlength="500" class="descricao-pergunta"></textarea>
            <br><br>
            
            <input type="submit" value="Cadastrar" class="botao-cadastro">
			<label class="obs">Caso não esteja logad@, <a href="">clique aqui</a></label>

        </form>
	</main>

	<footer>
		<p><div class="container-button"><button class="back-button"><a href="{{ url_for('forum') }}">Voltar</a></button></div></p>
	</footer>
</body>
</html>
