<!DOCTYPE html>
<html>
<head>
	<title>Fórum</title>
	<link rel="stylesheet" type="text/css" href="../static/styleForum.css">
</head>
<body>
	<header>
		<header>
			<h1><img src="../static/img/remove bg logo.png" width="150" height="130"></h1>
			<nav id="menuLateral">
				<a href="{{ url_for('index') }}">Página Inicial</a>
				<a href="{{ url_for('entrar') }}">Entrar</a>
				<a href="{{ url_for('sobre') }}">Sobre</a>
				<a href="{{ url_for('contato') }}">Fale com a gente</a>
			</nav>
		</header>
	</header>
	<main>
		<article>
			<h2>Últimas Perguntas
				<form class="search-form">
					<input type="text" placeholder="Pesquisar por tags...">
					<button class="filter-button">Filtrar</button>

					<a class ="modulo-ask-question" href="http://127.0.0.1:5501/CadastrarDuvida.html">
						<button class="ask-question-button">Faça uma pergunta</button>
					</a> 
				</form>
				
			</h2>
			<!--
			<p>----Espaço para aparecer as tags pesquisadas------</p>
			-->
		</article>
		<section>
			<ul>
				{% for topico in topicos %}
					<li>
						<div class="question-header">
								<a href="https://ajudaAi.com.br/perfil-marcelo-carvalho">
									<img src="../static/img/iconboy.png" alt="Foto de perfil do autor" class="avatar">
									<h4>{{ topico['usuario']['nome'] }}</h4>
								</a>

								<a href="http://127.0.0.1:5501/topicoForum.html" class="link-duvida">
									<h3>{{ topico['titulo'] }}</h3>
										<nav id="allTags">
											{% for tag in topico['tags'] %}
												<a href="#">{{ tag }}</a>
											{% endfor %}
										</nav>
									<p>{{ topico['texto'] }}</p>	
								</a>
						</div>
					</li>
				{% endfor %}
			</ul>
		</section>
	</main>
	<footer>
		<p><div class="container-button"><button class="back-button"><a href="{{ url_for('index') }}">Voltar</a></button></div></p>
	</footer>
</body>
</html>
