<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minhas Demandas</title>
    <link rel = "shortcut icon" href = "../static/img/favicon_transparent_32x32.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style_demandas.css">
    <link rel="stylesheet" href="../static/reset_demandas.css">
</head>

<body>
    <main class="formulario">
        <header class="d-flex flex-wrap justify-content-center justify-content-md-between">
            <h1 class="col-md-8 text-end titulo-pagina">Minhas Demandas</h1>
            <a class="col-md-1 text-center" href="{{ url_for('index') }}"><svg class="svg-inline--fa fa-xmark" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"></path></svg><!-- <i class="fa-solid fa-xmark"></i> Font Awesome fontawesome.com --></a>
        </header>
        
        <h2 class="titulo-pagina">
            <img src="../static/img/icon.png" width="100" height="100">
        </h2>
        <br>

        <div class="responsive-table">
            <table>
                <thread>
                    <tr>
                        <th>Título</th>
                        <th>Tags</th>
                        <th>Tipo</th>
                        <th>Descrição</th>
                        <th>Status</th>
                    </tr>
                </thread>
                <tbody>
                    {% for demanda in demandas %}
                        <tr>
                                <td>{{ demanda['titulo'] }}</td>
                                <td>{{ demanda['tags'] }}</td>
                                <td>{{ demanda['tipo'] }}</td>
                                <td>{{ demanda['descricao'] }}</td>
                                <td>{{ demanda['status'] }}</td>
                                <td>
                                    <a class="visualizar_demanda" href="{{ url_for('visualizar_demanda', cod=demanda['codDemanda'], pagina=2) }}">
                                        <img src="../static/img/visualizar.png">
                                    </a>
                                </td>
                                <td>
                                    <a class="visualizar_demanda" href="{{ url_for('apagar_demanda', cod=demanda['codDemanda'], pagina=2) }}">
                                        <img src="../static/img/lixeira.png">
                                    </a>
                                </td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"
        integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>