<!DOCTYPE html>
<html>
<head>
	<title>Dúvida do Fórum</title>

	<link rel="stylesheet" href="../static/styleTopicoForum.css">
	<link rel = "shortcut icon" href = "../static/img/favicon_transparent_32x32.ico">
	<link rel = "shortcut icon" href = "../static/img/like.png">
	<link rel = "shortcut icon" href = "../static/img/deslike.png">

</head>
<body>
	<header>
		<header>
			<h1><img src="../static/img/remove bg logo.png" width="150" height="130"></h1>
			<nav id="menuLateral">
				<a href="{{ url_for('index') }}">Página Inicial</a>
				<a href="{{ url_for('entrar') }}">Entrar</a>
				<a href="{{ url_for('sobre') }}">Sobre</a>
				<a href="{{ url_for('contato') }}">Fale com a gente</a>
			</nav>
		</header>
	</header>
	<main>
		<article>
			<h2>{{ topico['titulo'] }}
				<nav id="allTags">
					{% for tag in topico['tags'] %}
						<a href="">{{ tag }}</a>
					{% endfor %}
				</nav>
			</h2>
			<p>{{ topico['texto'] }}</p>
		</article>
		<section>
			<h3>Respostas</h3>
			<ul>
				{% for comentario in topico['comentarios'] %}
					<li>
						<div class="answer-header">
							<a href="">
								<img src="../static/img/icon2.png" alt="Foto de perfil do autor" class="avatar">
								<h4> {{ comentario['usuario']['nome'] }} </h4>
							</a>
							<p> {{ comentario['texto'] }} </p>
						</div>
						
	                    <div class="answer-feedback">
							<button class="like-button"><img src="../static/img/like.png"></button>
							<button class="dislike-button"><img src="../static/img/deslike.png"></button>
						</div>
					</li>
				{% endfor %}

				<li>
					<div class="your-answer">
						<form method="POST" action="{{ url_for('comentar') }}" enctype="multipart/form-data">
							<input name="id_topico" type="text" style="display: none;" value="{{ topico['id'] }}">
							<label class="nome-caixa-resposta">Comentar: </label>
							<textarea name="comentario" rows="10" style="width: 1160px" placeholder="Digite seu comentário..." class="caixa-reposta"></textarea>
							<br><br>
							<input type="submit" class="enviar-button" value="Enviar">
							<label class="obs">Caso não esteja logad@, <a href="">clique aqui</a></label>
						</form>
					</div>
				</li>
			</ul>
		</section>
	</main>
	<footer>
		<p><div class="container-button"><button class="back-button"><a href="{{ url_for('forum') }}">Voltar</a></button></div></p>
	</footer>
</body>
</html>
