<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Usuário</title>
    <link rel = "shortcut icon" href = "./src/images/favicon_transparent_32x32.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="../static/style-visualizar-usuario.css">
        <link rel="stylesheet" href="../static/reset-visualizar-usuario.css">
</head>

<body>
    <main class="formulario">
        <a href="#"><i class="fa-solid fa-xmark"></i></a>
            <p>
                <img src="../static/img/iconboy.png" width="100" height="100">
            </p>

            <h2></h2>
            <label class="descricao-de-titulo">Nome</label>
            <label class="descricao-de-texto" id="nome">João Silva</label>
            <br><br>
            <label class="descricao-de-titulo">Nome</label>
            <label class="descricao-de-texto" id="curso">Ciências Biológicas</label>
            <br><br>
            <label class="descricao-de-titulo">Descrição</label>
            <label class="descricao-de-texto" id="descricao">"Olá me chamo João Silva, estou no primeiro perído de Ciência Biológicas, mas já cursei Estatística, então posso ajudar bastante sobre isso.
            Gosto de ler, praticar esportes e do meu gato. Estou sempre disposto a aprender e ajudar o próximo na busca pelo conhecimento."</label>
            <br><br>
            <label class="descricao-de-titulo">Avaliação</label>
            <label class="descricao-de-texto" id="avaliação">⭐3,5</label>
            <input type="submit" value="Voltar" class="botao-voltar">
            <br><br>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"
        integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>