<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AjudaAí</title>
    <link rel = "shortcut icon" href = "./src/images/favicon_transparent_32x32.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/reset_demandas.css">
</head>

<body>
    <main class="formulario">
        <a href="{{ url_for('retorna_lista') }} "><i class="fa-solid fa-xmark"></i></a>
            <p>
                <img src="../static/img/icon.png" width="100" height="100">
            </p>
            
            <!--<label class="descricao-de-area">Demandas pendentes: </label>
            
            <select name="classificacao" class="select-demanda">
                <option value="comp1">COMPUTAÇÃO - Programação Estruturada</option>
                <option value="002">COMPUTAÇÃO - Banco de Dados</option>
            </select>-->

            <label class="descricao-de-area">Título: </label>
            <label class="descricao-de-texto" id="titulo">{{ demanda['titulo'] }}</label>
            <br><br>
            <label class="descricao-de-area">Tipo de demanda: </label>
            <label class="descricao-de-texto" id="tipo">{{ demanda['tipo'] }}</label>
            <br><br>
            <label class="descricao-de-area">Descrição: </label>
            <label class="descricao-de-texto" id="descricao">{{ demanda['descricao'] }}</label>
            <br>
                 
            <br>
            <p text-align:center>{{ demanda['status'] }}</p>
            <br>
            <input type="submit" value="Entrar no chat com o monitor" class="botao-chat">
            <br>
            <input type="submit" value="Fechar demanda" class="botao-fechar-demanda">
            <br>

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js"
        integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>